{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "rules": {
    "no-unused-vars": "warn",
    "react/display-name": "warn",
    "react/no-deprecated": "warn",
    "react/no-find-dom-node": "warn",
    "react/prop-types": "warn"
  },
  "overrides": [
    {
      "files": [
        "spec.js",
        "*.spec.js",
        "test.js",
        "*.test.js"
      ],
      "env": {
        "jest": true
      }
    }
  ]
}
