$theme-colors: (
  "primary": #BC9C6D,
);

@import "~bootstrap/scss/bootstrap";

.map {
  width: 100%;
  height: 600px;
}

.clickable tr {
  cursor: pointer;
}

.rbt-menu.dropdown-menu.show {
  z-index: 1000;
}